:root {
  font: 16px / 1 sans-serif;
  font-family: 'Alata', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: black;
  font-family: 'Alata', sans-serif;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

button {
  outline: none;
  border: 1px solid black;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.orange {
  background-color: rgb(259, 155, 11);
}

.output {
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: white;
  height: 4rem;
  background-color: rgb(41, 40, 41);
  width: 255px;
  margin-bottom: 0;
}

.gray {
  color: greenyellow;
  background-color: rgb(61, 60, 61);
}

.darkgray {
  background-color: rgb(93, 92, 93);
}

.darkgray:active {
  outline: none;
  background-color: rgb(93, 92, 93);
  transform: translateY(4px);
}

.orange:active {
  outline: none;
  background-color: rgb(259, 155, 11);
  transform: translateY(4px);
}
